@import "tailwindcss";

/* Global layout */
html,
body,
#root {
  height: 100%;
}

/* Optional font reset */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
}
